<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>书本详情</title>

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"  rel="stylesheet">
</head>
<!--<body>-->
    <!--<div class="container">-->

        <!--<h2 class="page-header">详情</h2>-->
        <!--<div class="well">-->
        <!--<p>-->
            <!--<strong>书名：</strong>-->
            <!--<span th:text="${book.name}">HEY</span>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>作者：</strong>-->
            <!--<span th:text="${book.author}">杨绛</span>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>说明：</strong>-->
            <!--<span th:text="${book.description}">这是一本小说，不错</span>-->
        <!--</p>-->
        <!--<p>-->
            <!--<strong>状态：</strong>-->
            <!--<span th:text="${book.status}">0</span>-->
        <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</body>
<body th:object="${book}">
    <div class="container">
        <p>
            <strong>书名：</strong>
            <span th:text="*{name}">HEY</span>
        </p>
        <p>
            <strong>作者：</strong>
            <span th:text="*{author}">杨绛</span>
        </p>
        <p>
            <strong>说明：</strong>
            <span th:text="*{description}">这是一本小说，不错</span>
        </p>
        <p th:switch="*{status}">
            <strong>状态：</strong>

                <span th:case="0">To read</span>
                <span th:case="1">Reading</span>
                <span th:case="2">Have read</span>

        </p>
    </div>

    <div class="alert alert-success" th:unless="*{status==0}">
        <strong>不错，</strong> 你已经开始行动啦
    </div>
    <div class="alert alert-warning" th:if="*{status==0}">
        <strong>注意。</strong> 你没开始行动
    </div>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</html>